@import 'css-reset.css';

/* CSS here :) */

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, sans-serif;
    margin:0;
}

header {
    width:100%;
    height:40px;
}

nav {
    background:grey;
}

.navigation {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.infinitysymbol {
    background: url("../imgs/logo.svg");
    background-size:contain;
    width:40px;
    height:40px;
    opacity:0.8;
    margin-left:20px;
}

.navhamburger {
    width:auto;
    height:auto;
    background-repeat: no-repeat;
    padding-right:20px;
}

.dropdown {
    display:none;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
}

.navhamburger:hover .dropdown {
    background-color:grey;
    display:block;
    left:0;
    width:100vw;
}

.dropdownitem {
    margin:10px;
}

.dropdown li:hover {
    padding:6px;
    background-color:rgb(65, 63, 63);
}

.dropdownitem a {
    color:white;
    text-decoration:none;
    text-align:center;
}

.heading {
    background: url("../imgs/bg.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height:45vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

.boxOne {
    width:100%;
    color:white;
}

.boxOne h1 {
    padding:10px;
    font-size: 30px;
}

.boxTwo {
    margin:0;
    display:flex;
    flex-direction: column;
    justify-content:left;
    background: #808080a2;
}

.boxTwo h2 {
    font-size: 20px;
    padding: 8px 5px 2px 8px;
    text-align: left;
}

.boxThree {
    padding:10px;
}

.featureSection{
    display:flex;
    flex-direction:column;
    align-items: center;
    flex-wrap:wrap;
    width:100%;
}

.feature {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    border: 1px solid white;
    box-shadow: 0px 5px 10px grey;
    text-align:center;
    width:50%;
    padding:30px;
    margin:30px;
    font-size:90%;
    padding-bottom:10px;
    border-radius:4px;
}

.amazingfeature {
    font-size:120%;
    padding-bottom:20px;
}

.featurebody {
    font-size:100%;
    color:#000000b6;
}

.feature img {
    width:17%;
    height:auto;
    padding-bottom:10px;
}

.feature a {
    background:hsl(0, 70%, 81%);
    margin:10%;
    width:100%;
    padding:10px 0px;
    margin-top:20px;
    text-decoration:none;
    color: white;
    text-align:center;
    radius:8px;
    box-shadow: 0px 4px 8px #b38080;
    text-shadow: 0px 0px 1px #ffffffb0;
}

.coolBG {
    position:relative;
    background:#b38080;
    padding:140px 0px;
    align-content:center;
    text-shadow: 0px 0px 6px grey;
}

.coolBody {
    text-align:left;
    color:white;
    padding-left:10px;
    width:80%;
}

.coolTitle {
    font-size:200%;
    margin-bottom:15px;
}

.coolSub {
    font-size:100%;
}

.thisLooksCool {
    opacity:0.91;
    position:absolute;
    text-align: center;
    border: 3px solid #ffcc33;
    background: #b38080;
    box-shadow: 0px 0px 10px #ffcc33;
    border-radius: 3px;
    top:85%;
    left:15px;
    padding:10px;
}

.thisLooksCool p {
    padding:10px;
}

.looksCoolHead {
    color:white;
    font-size:100%;
}

.looksCoolSub {
    color:white;
    font-size:70%;
}

.thisLooksCool:hover {
    animation-name:coolboxfun;
    animation-duration: 5s;
}

@keyframes coolboxfun {
    from {
        transform:rotate(0deg);
        opacity:0.9;
    }
    to {
        transform:rotate(400deg);
        opacity:0;
        margin-bottom:100px;
    } 
}

.gradientBG {
    background: linear-gradient(45deg, rgba(249,92,161,0.8323704481792717) 0%, rgba(9,77,121,0.7175245098039216) 35%, rgba(255,239,0,0.3897934173669467) 100%);
    padding:120px 0px;
    align-content:right;
    text-align:right;
    justify-content: right;
    padding-right:10px;
    color:white;
}

.slickTitle {
    font-size:47px;
    padding-bottom:70px;
}

.slickSub {
    font-size:26px;
}


.imageBox {
    width:100vw;
    height:40%;
    overflow:hidden;
    position:relative;
    justify-content:center;
    align-items:center;
    display:flex;
}

.boxItems {
    height:100%;
    width:100%;
    transition:0.5 ease-in-out;
    color:rgba(255, 255, 255, 0);
}

.imageBox p {
    color:rgba(255, 255, 255, 0);
    position:absolute;
    text-align: center;
    z-index:2;
    font-size: 100%;
}

.boxItems:hover {
    transition:300ms;
    transition-timing-function: ease-in-out;
    transform:scale(1.2);
    color:white;
}

.imageBox:hover p {
    color:white;
    text-shadow: 1px 1px 8px pink;
    transition:800ms;
}

.emailSection {
    display:flex;
    justify-content: center;
    margin-top:20px;
    padding:30px;
}

#theemails {
    border: 2px solid grey;
    border-radius:6px 0px 0px 6px;
    border-right:none;
    height:30px;
    width:70%;
}

.formButton {
    padding:10px;
}

.formButton form {
    display:flex;
    justify-content: center;
}


.emailSection button {
    background-image: url("../imgs/icon_send.svg");
    background-repeat: no-repeat;
    background-position: center;
    height:36px;
    width:42px;
    border:none;
    border-radius: 0px 8px 8px 0px;
    background-color:grey;
}

.emailSection button:hover {
    cursor:pointer;
}

.emailSection button span {
    display:none;
}

.bottomLinks {
    border-top: 2px solid #8080804d;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
}

.linkContainer {
    display:flex;
    flex-direction: column;
    width:30%;
    justify-content: left;
}

.linkContainer a {
    text-decoration:none;
    padding-top:8px;
    color:rgb(68, 68, 68);
}

@media (min-width: 768px) {
    .navhamburger img {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .dropdown {
        display:flex;
        position:relative;
        height:40px;
        justify-content: space-evenly;
    }

    .navhamburger:hover .dropdown {
        display:flex;
        position:relative;
        width:auto;
        left:auto;
    }

    .dropdown li:hover {
        padding:0;
        background-color:grey;
        border-bottom: 2px solid white;
    }

    .boxOne {
        display:flex;
        align-content:space-evenly;
        border: 6px solid white;
        width:80%;
        height:300px;
        color:white;
    }

    .boxOne h1 {
        padding-top:30px;
        font-size:60px;
        padding-right:30px;
    }

    .boxTwo {
        text-align: center;
        justify-content: space-evenly;
    }

    .boxTwo h2 {
        padding: 0px 8px 0px 20px;
        line-height: 50px;
        font-size:38px;
    }

    .boxThree {
        display:flex;
        justify-content: center;
        border-top: 2px dotted rgba(255, 255, 255, 0.404);
        margin-left:10px;
        margin-right:10px;
    }

    .boxThree p {
        margin:15px;
        font-size:20px;
    }


    .heading {
        height:90vw;
    }

    .featureSection{
        flex-direction: row;
        flex-wrap:nowrap;
    }

    .coolTitle {
        font-size:60px;
    }
    
    .slickTitle {
        font-size:60px;
        letter-spacing: 4px;
    }

    .theImageZone {
        display:flex;
        flex-direction:column;
        width:100%;
    }

    .rowOne,
    .rowTwo {
        display:flex;
    }

    .rowOne img,
    .rowTwo img {
        width: 100%;
        height:280px;
    }

    .rowTwo {
        display:flex;
    }

    .imageBox {
        display:flex;
    }

    .bottomLinks {
        flex-direction: row;
    }

    .linkContainer {
        justify-content: space-around;
        width:30%;
    }

    .linkContainer a {
        text-align: center;
        padding:10px;
    }
}